body {
  background-color: #edf0f7;
  display: flex;
}

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: bold;
}

.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
